body{
    /* font-family: 'Roboto', sans-serif; */
    background-color: black;
}

.post{
    background-color: white;
    width: 400px;
    height: 550px;
}

.post-header{
    display: flex;
    /* margin-bottom: -15px; */
}
.fa-brands{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
}

.html{
    margin: auto 0;
}

.fa-brands{
    margin: auto 0.5em;
}

/* .fa-solid{
    
} */

.fa-solid{
    font-size: x-large;
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

img{
    max-width: -webkit-fill-available
}

.icons{
    display: flex;
    font-size: 29px;
    margin-top: 10px;
    margin-left: 15px;
}

.icons > i {
    margin-right: 3px;
}

.bookmark{
   margin-left: auto;
   margin-right: 10px;
}



.text{
    margin: 10px;
}