body{
    /* font-family: 'Roboto', sans-serif; */
    background-color: black;
}

.post{
    background-color: white;
    width: 400px;
    height: 550px;
}

.post-header{
    display: flex;
    /* margin-bottom: -15px; */
}
.fa-brands{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
}

.name{
    margin-top: -19px;
    margin-left: 34px;
    
}

.fa-solid{
    font-size: x-large;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 20px;
}

img{
    max-width: -webkit-fill-available
}

.icons{
    font-size: 29px;
    margin-top: 10px;
    margin-left: 15px;
}

.fa-bookmark{
    margin-left: 230px;
}

.text{
    margin: 10px;
}